In [1]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv('customer.csv')

In [13]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [11]:
df.shape

(50, 3)

In [14]:
df=df.iloc[:,2:]

In [15]:
df.sample(5)

     review education purchased
37  Average        PG       Yes
33     Good        PG       Yes
4   Average        UG        No
7      Poor    School       Yes
13  Average    School        No

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [17]:
X_train

     review education
4   Average        UG
49     Good        UG
34  Average    School
5   Average    School
47     Good        PG
27     Poor        PG
16     Poor        UG
23     Good    School
37  Average        PG
48     Good        UG
7      Poor    School
2      Good        PG
46     Poor        PG
20  Average    School
14     Poor        PG
3      Good        PG
30  Average        UG
21  Average        PG
15     Poor        UG
35     Poor    School
10     Good        UG
42     Good        PG
43     Poor        PG
33     Good        PG
12     Poor    School
29  Average        UG
39     Poor        PG
1      Poor        UG
8   Average        UG
17     Poor        UG
40     Good    School
44  Average        UG
22     Poor        PG
45     Poor        PG
31     Poor    School
13  Average    School
25     Good    School
6      Good    School
28     Poor    School
19     Poor        PG

In [18]:
y_train

4      No
49     No
34     No
5     Yes
47    Yes
27     No
16    Yes
23     No
37    Yes
48    Yes
7     Yes
2      No
46     No
20    Yes
14    Yes
3      No
30     No
21     No
15     No
35    Yes
10    Yes
42    Yes
43     No
33    Yes
12     No
29    Yes
39     No
1      No
8      No
17    Yes
40     No
44     No
22    Yes
45    Yes
31    Yes
13     No
25     No
6      No
28     No
19    Yes
Name: purchased, dtype: object

In [23]:
from sklearn.preprocessing import OrdinalEncoder

In [24]:
OrEn = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [25]:
OrEn.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [28]:
X_train_new = OrEn.transform(X_train)
X_test_new = OrEn.transform(X_test)

In [33]:
X_train

     review education
4   Average        UG
49     Good        UG
34  Average    School
5   Average    School
47     Good        PG
27     Poor        PG
16     Poor        UG
23     Good    School
37  Average        PG
48     Good        UG
7      Poor    School
2      Good        PG
46     Poor        PG
20  Average    School
14     Poor        PG
3      Good        PG
30  Average        UG
21  Average        PG
15     Poor        UG
35     Poor    School
10     Good        UG
42     Good        PG
43     Poor        PG
33     Good        PG
12     Poor    School
29  Average        UG
39     Poor        PG
1      Poor        UG
8   Average        UG
17     Poor        UG
40     Good    School
44  Average        UG
22     Poor        PG
45     Poor        PG
31     Poor    School
13  Average    School
25     Good    School
6      Good    School
28     Poor    School
19     Poor        PG

In [29]:
X_train_new

array([[1., 1.],
       [2., 1.],
       [1., 0.],
       [1., 0.],
       [2., 2.],
       [0., 2.],
       [0., 1.],
       [2., 0.],
       [1., 2.],
       [2., 1.],
       [0., 0.],
       [2., 2.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [1., 2.],
       [0., 1.],
       [0., 0.],
       [2., 1.],
       [2., 2.],
       [0., 2.],
       [2., 2.],
       [0., 0.],
       [1., 1.],
       [0., 2.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [1., 0.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [0., 2.]])

In [35]:
#using label encoding, encoding the output column
from sklearn.preprocessing import LabelEncoder

In [36]:
LE = LabelEncoder()

In [37]:
LE.fit(y_train)

LabelEncoder()

In [38]:
LE.classes_

array(['No', 'Yes'], dtype=object)

In [39]:
LE.transform(y_train)
LE.transform(y_test)

array([0, 1, 1, 0, 0, 1, 0, 1, 1, 1])

In [40]:
y_train

4      No
49     No
34     No
5     Yes
47    Yes
27     No
16    Yes
23     No
37    Yes
48    Yes
7     Yes
2      No
46     No
20    Yes
14    Yes
3      No
30     No
21     No
15     No
35    Yes
10    Yes
42    Yes
43     No
33    Yes
12     No
29    Yes
39     No
1      No
8      No
17    Yes
40     No
44     No
22    Yes
45    Yes
31    Yes
13     No
25     No
6      No
28     No
19    Yes
Name: purchased, dtype: object